<div class="text-center">

    <h1 class="text-info">Account Registered Successfully.</h1>

    <p>We're excited to have you get started. First, you need to confirm your account.Please check the registered 
    email and click "confirm account".</p>
    <br />
    <div class="row">
        <div class="col-sm-2 col-md-4">


        </div>
        <div class="col-sm-2 col-md-2">
            <a href="@Url.Action("Index","Home")" class="btn btn-success form-control">Go Home</a>
        </div>
        <div class="col-sm-2 col-md-2">
            <a href="@Url.Action("Products","Home")" class="btn btn-success form-control">View Products</a>
        </div>
    </div>

</div>